* {margin: 0; padding: 0; box-sizing: border-box;}

html, body{
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}

#container {
    width: 500px;
    height: 100%;
    padding: 1em;
    /* display: grid; */
    /* total height: 720px, top: 230, mid: 346, bottom: 88 */
    /* grid-template-rows: 3fr 3.5fr 1fr;
    grid-row-gap: 2rem;  */
    margin: 0 auto;
    /* background: linear-gradient(#0F2027, #203A43, #2C5364) */
    background: linear-gradient( #2C5364,#203A43, #0F2027 90%);
    background: linear-gradient( #F0F2F0, #2C5364, #0F2027 55%);
    color: white;
    position: relative;
    /* min-width: 500px ;
    min-height: 100px; */
}

p {
    font-size: 12.5px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.4em;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

.fade-in {
    transition: all 1s;
}

.volume-bar {
    background-color: #444;
    height: 120px;
    width: 25px;
    position: absolute;
    border-radius: 8px;
    top: 50px;
    z-index: 1;
}

.volume-display {
    height: 100%;
    width: 25px;
    position: absolute;
    bottom: 0px;
    background-color: white;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}

.fa-volume-up {
    font-size: 14px;
    position: absolute;
    top: 100px;
    left: 4px;
    color: #777;
    z-index: 2;
}

.player{
    height: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin: 0 auto; */
    /* grid-row: 1 / 2 ; */
    /* background-color: thistle; */
    /* background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url(imgs/8_Hyper-Light-Drifter.png); */
    /* background-image: url(imgs/vinyl1.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

.album-art {
    height: 75%;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 2px 3px black;
    margin-top: 1em;
    /* justify-content: center; */

    /* display: flex;
    flex: column; */
    /* flex-wrap: wrap; */
}

.album-art img {
    height: 100%;
    width: 100%;
}

/* .ctrl-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.playlist-info {
    margin-bottom: 1em;
}

.playlist-creator {
    display: flex;
    align-items: center;
}

.avatar {
    height: 2em;
    width: 2em;
    margin: 1em 0.7em 1em 0;
    border-radius: 50%;
    border: 1px solid white;
    background: black;
}

.interactive-bar {
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
}

.interactive-bar * {
    font-size: 20px;
    line-height: 20px;
    margin: 0 10px 10px 0;
}

.fa-heart {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.like {
    color: #1DB954;
    -webkit-text-stroke-width: 0;
}



/* playlist section */

.playlist {
    /* grid-row: 2 / 3; */
    /* background-color: tomato; */
    height: 100%;
    width: 100%;
    /* background-color: #222; */
}

.tracks {
    display: flex;
    margin-bottom: 1.3em;
}

.tracks img {
    width: 55px;
    height: 55px;
}

.track-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5em;
}